In [1]:
import pandas as pd
import numpy as np

import plotly
import plotly.graph_objs as go 
import plotly.offline as offline
import plotly.express as px

In [2]:
def searchdf(df, **criteria):
    for col, val in criteria.items():
        df=df[df[col]==val]
    return df

In [3]:
df_bothunter = pd.read_csv('./02_cleaned/bothunter.csv').iloc[:,1:]
df_bothunter

,status_id,user_id,screen_name,prediction,probability
0,1594177624171237376,149538421,raidou_survivor,0.0,0.259450
1,1594178011376455681,1376067487297601537,Nathandrake558,1.0,0.635951
2,1594178020062863360,814034558492545024,SanjayS02169973,1.0,0.788399
3,1594178104750010370,1558118121587752960,Right130813311,1.0,0.715715
4,1594178164456312832,1159168941870256129,Tatastouu,1.0,0.832714
...,...,...,...,...,...
1909036,1600875526201217024,3463820669,theressantv91,1.0,0.778049
1909037,1600875544073056256,1599400388297474049,LenaHar04634640,1.0,0.552477
1909038,1600875577380327425,1401931355554926592,SANTOSH83819519,1.0,0.842683
1909039,1600875583814406145,892232820407418880,Wata__Nao,0.0,0.229234
1909040,1600875587404693509,1533904146,Mmemberville_,1.0,0.843795

In [6]:
## Reclassify bots with threshold 0.7
## what is the current threshold
print(f"current threshold to classify as bot = {df_bothunter[df_bothunter['prediction']==1]['probability'].min()}")

current threshold to classify as bot = 0.5000001001985493

In [7]:
df_bothunter.loc[df_bothunter['probability']>=0.7, 'prediction']=1
df_bothunter.loc[df_bothunter['probability']<0.7, 'prediction']=0
print(f"current threshold to classify as bot = {df_bothunter[df_bothunter['prediction']==1]['probability'].min()}")
df_bothunter

current threshold to classify as bot = 0.7000023904177443

,status_id,user_id,screen_name,prediction,probability
0,1594177624171237376,149538421,raidou_survivor,0.0,0.259450
1,1594178011376455681,1376067487297601537,Nathandrake558,0.0,0.635951
2,1594178020062863360,814034558492545024,SanjayS02169973,1.0,0.788399
3,1594178104750010370,1558118121587752960,Right130813311,1.0,0.715715
4,1594178164456312832,1159168941870256129,Tatastouu,1.0,0.832714
...,...,...,...,...,...
1909036,1600875526201217024,3463820669,theressantv91,1.0,0.778049
1909037,1600875544073056256,1599400388297474049,LenaHar04634640,0.0,0.552477
1909038,1600875577380327425,1401931355554926592,SANTOSH83819519,1.0,0.842683
1909039,1600875583814406145,892232820407418880,Wata__Nao,0.0,0.229234
1909040,1600875587404693509,1533904146,Mmemberville_,1.0,0.843795

In [4]:
df_location = pd.read_csv('./02_cleaned/location.csv').iloc[:,1:]
df_location

,status_id,location,region,lat,lon,code
0,1604519793281085440,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
1,1604519820334366722,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
2,1604519820523106304,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
3,1604519821130928129,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
4,1604519824541245441,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
...,...,...,...,...,...,...
2069003,1594273027298148352,troitsk-13-ru,asia/yekaterinburg,54.09790,61.57730,121538
2069004,1599412673816711169,smolensk-69-ru,europe/moscow,54.78180,32.04010,320991
2069005,1599435234814365699,jhalawar-24-in,asia/kolkata,24.59676,76.16503,176133
2069006,1599445216674516992,biysk-04-ru,asia/omsk,52.53639,85.20722,215430
2069007,1599445595105923073,biysk-04-ru,asia/omsk,52.53639,85.20722,215430

In [5]:
df_emotion = pd.read_csv('./02_cleaned/emotion.csv', low_memory=False).iloc[:,1:]
df_emotion

,userid,tweetid,text,anger,disgust,fear,joy,neutral,sadness,surprise
0,1486740205654757379,1.486740e+18,#WorldCup2022 Why didn´t Mexico play this way ...,0.027185,0.001112,0.557336,0.005496,0.007620,0.314508,0.086744
1,18908644,1.890864e+07,Arjantin atak üstüne atak yapıyor ama aradığı ...,0.112710,0.031122,0.138428,0.064882,0.439563,0.065871,0.147424
2,1200599170412875776,1.200599e+18,C’est pas Messi qui le rate c’est un arrêt exc...,0.041187,0.001330,0.940288,0.008016,0.002105,0.004824,0.002250
3,1183565334,1.183565e+09,مشاهدة مباراة السعودية والمكسيك بث مباشر اليوم...,0.180309,0.026082,0.291065,0.032152,0.407928,0.049636,0.012828
4,1598001705710686208,1.598002e+18,🔴Live Streaming 🏴🇵🇱Poland vs Argentina🇦🇷🏴👉 ht...,0.023232,0.002056,0.043861,0.208482,0.464637,0.060417,0.197315
...,...,...,...,...,...,...,...,...,...,...
1470409,1034068444600311812,1.034068e+18,RT @q_slavic: #Polska #WorldcupQatar2022. 26.1...,0.066131,0.001013,0.907271,0.008250,0.002006,0.012841,0.002488
1470410,825341312006287361,8.253413e+17,RT @SuperExet: Vote for your favourite teams f...,0.100215,0.001554,0.560896,0.161231,0.104611,0.014567,0.056926
1470411,99849659,9.984966e+07,Suiza vendiste cara esa clasificación de Brasi...,0.243749,0.003676,0.658908,0.035601,0.028908,0.010284,0.018874
1470412,1487871301171744771,1.487871e+18,Ganhamos mas lembrando que Tite escalou mal e ...,0.351239,0.000996,0.486202,0.122127,0.006981,0.025267,0.007188
1470413,1557619138117378049,1.557619e+18,#️⃣ #Brazil #Switzerland #BrazilvsSwitzerland ...,0.054019,0.001668,0.825460,0.083121,0.006542,0.019780,0.009410

## Bothunter + Location

In [8]:
df_bothunter_location = df_location.merge(df_bothunter, on='status_id')
df_bothunter_location

,status_id,location,region,lat,lon,code,user_id,screen_name,prediction,probability
0,1596845986336641025,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1409063540749520898,xDsjtz0CXfEydkw,0.0,0.124301
1,1596846000005533696,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1582581287529099265,bank28829336,1.0,0.807428
2,1596846074031140866,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1471383277219250182,NAOKIARAI24,0.0,0.433880
3,1596846095824396288,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1468860710574645249,Mason96093167,0.0,0.488711
4,1596846208240463872,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1186836309333032960,ZwRvolDalAoCZtO,1.0,0.769668
...,...,...,...,...,...,...,...,...,...,...
1909051,1594273027298148352,troitsk-13-ru,asia/yekaterinburg,54.09790,61.57730,121538,420255572,Trozz2,1.0,0.904866
1909052,1599412673816711169,smolensk-69-ru,europe/moscow,54.78180,32.04010,320991,2912815271,Stavki_ru,0.0,0.475598
1909053,1599435234814365699,jhalawar-24-in,asia/kolkata,24.59676,76.16503,176133,1277220460581629958,Mohieb14,0.0,0.207437
1909054,1599445216674516992,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257
1909055,1599445595105923073,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257

In [9]:
df_bothunter_freq = pd.DataFrame(df_bothunter_location.groupby(
    ['location', 'region', 'lat', 'lon', 'prediction']).size()).reset_index().rename(columns={0:'count'})
df_bothunter_freq

             location            region       lat       lon  prediction  count
0        `ajlun-20-jo        asia/amman  32.33385  35.75238         0.0    161
1        `ajlun-20-jo        asia/amman  32.33385  35.75238         1.0     15
2        `ajman-02-ae        asia/dubai  25.41111  55.43504         0.0    314
3        `ajman-02-ae        asia/dubai  25.41111  55.43504         1.0    119
4        `ar`ar-15-sa       asia/riyadh  30.97531  41.03808         0.0     70
...               ...               ...       ...       ...         ...    ...
5556  zurich-zh112-ch     europe/zurich  47.36667   8.55000         1.0   6308
5557    zwickau-13-de     europe/berlin  50.72724  12.48839         0.0    101
5558    zwickau-13-de     europe/berlin  50.72724  12.48839         1.0     57
5559     zwolle-15-nl  europe/amsterdam  52.51250   6.09444         0.0    505
5560     zwolle-15-nl  europe/amsterdam  52.51250   6.09444         1.0    186

[5561 rows x 6 columns]

In [27]:
df_bothunter_freq.loc[:,'percentage']=(df_bothunter_freq['count']*100/df_bothunter_freq.groupby(['location', 'region', 'lat', 'lon'])['count'].transform('sum')).round(2)
df_bothunter_freq

,location,region,lat,lon,prediction,count,percentage
0,`ajlun-20-jo,asia/amman,32.33385,35.75238,0.0,161,91.48
1,`ajlun-20-jo,asia/amman,32.33385,35.75238,1.0,15,8.52
2,`ajman-02-ae,asia/dubai,25.41111,55.43504,0.0,314,72.52
3,`ajman-02-ae,asia/dubai,25.41111,55.43504,1.0,119,27.48
4,`ar`ar-15-sa,asia/riyadh,30.97531,41.03808,0.0,70,59.32
...,...,...,...,...,...,...,...
5556,zurich-zh112-ch,europe/zurich,47.36667,8.55000,1.0,6308,62.31
5557,zwickau-13-de,europe/berlin,50.72724,12.48839,0.0,101,63.92
5558,zwickau-13-de,europe/berlin,50.72724,12.48839,1.0,57,36.08
5559,zwolle-15-nl,europe/amsterdam,52.51250,6.09444,0.0,505,73.08
5560,zwolle-15-nl,europe/amsterdam,52.51250,6.09444,1.0,186,26.92

## Bothunter + Location + Emotions

In [28]:
df_bothunter_location

,status_id,location,region,lat,lon,code,user_id,screen_name,prediction,probability
0,1596845986336641025,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1409063540749520898,xDsjtz0CXfEydkw,0.0,0.124301
1,1596846000005533696,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1582581287529099265,bank28829336,1.0,0.807428
2,1596846074031140866,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1471383277219250182,NAOKIARAI24,0.0,0.433880
3,1596846095824396288,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1468860710574645249,Mason96093167,0.0,0.488711
4,1596846208240463872,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1186836309333032960,ZwRvolDalAoCZtO,1.0,0.769668
...,...,...,...,...,...,...,...,...,...,...
1909051,1594273027298148352,troitsk-13-ru,asia/yekaterinburg,54.09790,61.57730,121538,420255572,Trozz2,1.0,0.904866
1909052,1599412673816711169,smolensk-69-ru,europe/moscow,54.78180,32.04010,320991,2912815271,Stavki_ru,0.0,0.475598
1909053,1599435234814365699,jhalawar-24-in,asia/kolkata,24.59676,76.16503,176133,1277220460581629958,Mohieb14,0.0,0.207437
1909054,1599445216674516992,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257
1909055,1599445595105923073,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257

In [29]:
df_emotion

,userid,tweetid,text,anger,disgust,fear,joy,neutral,sadness,surprise
0,1486740205654757379,1.486740e+18,#WorldCup2022 Why didn´t Mexico play this way ...,0.027185,0.001112,0.557336,0.005496,0.007620,0.314508,0.086744
1,18908644,1.890864e+07,Arjantin atak üstüne atak yapıyor ama aradığı ...,0.112710,0.031122,0.138428,0.064882,0.439563,0.065871,0.147424
2,1200599170412875776,1.200599e+18,C’est pas Messi qui le rate c’est un arrêt exc...,0.041187,0.001330,0.940288,0.008016,0.002105,0.004824,0.002250
3,1183565334,1.183565e+09,مشاهدة مباراة السعودية والمكسيك بث مباشر اليوم...,0.180309,0.026082,0.291065,0.032152,0.407928,0.049636,0.012828
4,1598001705710686208,1.598002e+18,🔴Live Streaming 🏴🇵🇱Poland vs Argentina🇦🇷🏴👉 ht...,0.023232,0.002056,0.043861,0.208482,0.464637,0.060417,0.197315
...,...,...,...,...,...,...,...,...,...,...
1470409,1034068444600311812,1.034068e+18,RT @q_slavic: #Polska #WorldcupQatar2022. 26.1...,0.066131,0.001013,0.907271,0.008250,0.002006,0.012841,0.002488
1470410,825341312006287361,8.253413e+17,RT @SuperExet: Vote for your favourite teams f...,0.100215,0.001554,0.560896,0.161231,0.104611,0.014567,0.056926
1470411,99849659,9.984966e+07,Suiza vendiste cara esa clasificación de Brasi...,0.243749,0.003676,0.658908,0.035601,0.028908,0.010284,0.018874
1470412,1487871301171744771,1.487871e+18,Ganhamos mas lembrando que Tite escalou mal e ...,0.351239,0.000996,0.486202,0.122127,0.006981,0.025267,0.007188
1470413,1557619138117378049,1.557619e+18,#️⃣ #Brazil #Switzerland #BrazilvsSwitzerland ...,0.054019,0.001668,0.825460,0.083121,0.006542,0.019780,0.009410

#### Approach: Check each emotion message is bot or not and what location was it

In [37]:
searchdf(df_bothunter_location, user_id=1486740205654757379)

,status_id,location,region,lat,lon,code,user_id,screen_name,prediction,probability
852313,1598040909949636635,mexico city-09-mx,america/mexico_city,19.42847,-99.12766,21375109,1486740205654757379,CQuillwitch,0.0,0.287861
853715,1598063782559092737,mexico city-09-mx,america/mexico_city,19.42847,-99.12766,21375109,1486740205654757379,CQuillwitch,0.0,0.287861
864851,1598039182584459265,mexico city-09-mx,america/mexico_city,19.42847,-99.12766,21375109,1486740205654757379,CQuillwitch,0.0,0.282930

In [41]:
searchdf(df_emotion, userid='1409063540749520898')

,userid,tweetid,text,anger,disgust,fear,joy,neutral,sadness,surprise
136405,1409063540749520898,1.409064e+18,RT @avshimiken: 日本負けてザワついてるけど負けた方が学びは大きい。436万人...,0.114485,0.00767,0.058999,0.036845,0.650033,0.024435,0.107532